/* top level page starts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Roboto+Mono&display=swap');

body {
    background-color: #112B3C;
    color: white;
    margin: 40px auto 40px auto;
    max-width: 1920px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 100px;
    font-weight: 800;
    color: white;
    margin: auto;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    color: white;
}

p {
    font-family: 'Roboto Mono', monospace;
}

a {
    color: white;
    text-decoration: underline;
}

a :hover {
    text-decoration: none;
}

a :visited {
    color: white;
    text-decoration: underline;
}



/* top nav starts */
.topnav {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.topnav_left {
    flex: auto;
}

.topnav_right {
    flex: end;
}

.topnav_item {
    float: left;
    color: white;
    text-align: center;
    padding: 30px 85px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}


/* page content */
.flex_column {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.flex_row {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.flex_item_left {
    flex: 50%;
}

.flex_item_right {
    flex: 50%;
}

.flex_item_left img {
    border-radius: 10px;
    width: 100%;
}


/* accordion container */
.container {
    background-color: white;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.container h2 {
    color: #112B3C;
    text-align: center;
}

.container h3 {
    color: #112B3C;
}

.container p {
    color: #112B3C;
}

*, *:after, *:before {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

.accordion {
	grid-column: 2 / span 10;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

details div {
	border-left: 2px solid #112B3C;
	border-right: 2px solid #112B3C;
	border-bottom: 2px solid #112B3C;
	padding: 1.5em;
    border-radius: 0 0px 8px 8px;
    background-color: white;
}

details div > * + * {
	margin-top: 1.5em;
}

details + details {
	margin-top: .5rem;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
    border: 2px solid #112B3C;
    background-color: white;
    border-radius: 8px;
	padding: .2em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: white;
	color: #112B3C;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary {
	background-color: white;
    border-radius: 8px 8px 0 0;
}

details[open] summary:before {
	content: "↑";
    
}

summary:hover {
	background-color: #f2f2f2;
}


/* footer */
.footer {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer_top {
    display: flex;
    gap: 32px;
}

.footer_bot {
    flex: 50%;
}



/* breakpoints starts */
@media (max-width: 600px) {
    .topnav {
        overflow: hidden;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        margin-left: 10px;
        margin-left: 10px;
    }

    .topnav_item {
        float: left;
        color: white;
        text-align: center;
        padding: 30px 0px;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    .flex_column {
        display: flex-column;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .flex_row {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .container {
        background-color: white;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 12px;
    }

    .accordion {
        grid-column: 2 / span 10;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    .flex_row {
        margin-top: 150px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .container {
        background-color: white;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 12px;
    }

    .accordion {
        grid-column: 2 / span 10;
        margin-top: 0px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

}